.peliruutu{
    background-color: white;
    font-style: italic;
    width: 500px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.pelin_hallinta {
    display:flex;
    flex-direction: row;
}

.pelaajan_vastaus_div {
    background-color:lightblue;
}

.pelaajan_vastaus {
    background-color:lightblue;
}

.jarjestysKani {
    width: 120px;
    height: auto;
}